body {
	height: 100%;
	margin: 0;
	font-size: 20px;
}

#menu {
	width: 20%;
	height: 100%;
	position: fixed;
	outline: 1px solid;
}

#main {
	width: 80%;
	height: auto;
	position: absolute;
	outline: 1px solid;
	right: 0;
}
